*{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #dfdddd;
}


/* Header styling */
.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}
.wrapper >* {
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  /* border-radius: 10px; */
  
}

/* Header */
.global-nav{
  height: 80px;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  /* box-shadow: -2px 0px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 0px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 14px -1px rgba(0,0,0,0.75); */
}

.logo-name{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-name > p {
  font-size: 24px;
}

.logo{
  height: 50px;
  width: 50px;
}
.nav-container {
  display: none;
}

.nav-container > i {
  font-size: 20px;
  color: rgb(2, 87, 54);
}

.nav-container> input {
  flex: 1;
  height: 30px;
  border: none;
  outline: none;
  font-size: 18px;
  padding-left: 10px;
  
}

.menu-btn{
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

@media (min-width:400px){

  .nav-container{
    width: 300px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 2px solid black;
  }

  .menu-btn > i {
    font-size: 20px;
    color: rgb(134, 136, 135);
  }
  
}
.nav{
  display: none;
}
.nav-items {
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: flex;
}
.nav-item {
  margin-right: 20px;
}

@media (min-width:768px){
  .nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-btn{
    display: none;
  }
}




/* main styling */

.main{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 0px;
  border-radius: 10px;
  position: relative;
}
.card-container{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}


.profile{
  background-color: rgb(255, 254, 253);
border-radius: 10px;

}


.banner{
  background: rgb(104,231,221);
  background: linear-gradient(90deg, rgba(104,231,221,1) 0%, rgba(41,168,181,0.7483368347338936) 35%, rgba(0,212,255,1) 100%);
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
}
.cam-container{
  position: absolute;
  width: 50px;
  height: 50PX;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid rgb(153, 153, 153);
 
}
.cam-align{
  position: absolute;
  margin-top: 20px;
  width: 95%;
  justify-content: flex-end;
  display: flex;
  margin-right: 20px;
}

.cam-container > i {
  font-size: 24px;
}
.banner1, .banner2{
  background-color: #ffffff;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.profile-details{
  background: rgb(255, 255, 255);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: baseline;

}

.name > h1{
  margin-left: 40px;
  margin-top: 90px;
  margin-bottom: 0px;
}
p{
  text-align: start;
  margin: 0 0 0 40px;
  padding: 0px;
  font-size: 12px;
}

.profile-buttons{
  display: flex;
  margin-top: 20px;
  gap: 10px;
  
}

.add {
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  width: 150px;
  padding: 5px;
  border: 1px solid rgb(5, 110, 110);
  border-radius: 30px;
  background: linear-gradient(90deg, rgba(104,231,221,1) 0%, rgba(41,168,181,0.7483368347338936) 35%, rgba(0,212,255,1) 100%);
  
}
.message {
  font-size: 16px;
  color: rgb(5, 110, 110);
  cursor: pointer;
  width: 150px;
  padding: 5px;
  border: 1px solid rgb(5, 110, 110);
  border-radius: 30px;
  
}
.more {
  font-size: 16px;
  color: rgb(5, 110, 110);
  cursor: pointer;
  width: 100px;
  padding: 5px;
  border: 1px solid rgb(5, 110, 110);
  border-radius: 30px;
  
}

.profile-desc{
  height: 100px;
  background: rgb(219, 235, 134);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile-pic-container{
  margin-top: 40px;
  margin-left: 40px;
  position: absolute;
  z-index: 9999;
  border-radius: 50%;
  /* width: 300px;
  height: 300px; */
  
} 
.profile-pic{
border: 10px solid white;
border-radius: 50%;
}








/* Aside Styling */
.aside1, .aside2{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 0px;
  border-radius: 10px;
 
}



/* responsive design */
@media all and (min-width: 800px){
 .main{
  flex: 3;
 }
.aside1{
  order: 1;
}
.aside2{
  order: 2;
}
.main{
  order: 2;
}
.footer{
  order: 4;
}
}

@media all and (min-width:600px){
  .aside{
    flex:1;
  }
}
  





/* main section */




.footer{
  height: 80px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: -2px 0px 14px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 0px 14px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 14px -1px rgba(0,0,0,0.75);
}
